<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="Zwist.org.Seashore" Publisher="CN=2371C101-C993-44CB-AD72-8E71E2D4B97C" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="a81971ba-e1bd-4407-a322-712bdbb75aa4" PhonePublisherId="3072a6d5-1599-4a47-a79c-a9690a588802" />
  <Properties>
    <DisplayName>Seashore for Seafile</DisplayName>
    <PublisherDisplayName>Zwist.org</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Seashore" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Seashore is a client application to a file-hosting Seafile-Server." ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
              <FileType>.doc</FileType>
              <FileType>.docx</FileType>
              <FileType>.pdf</FileType>
            </SupportedFileTypes>
            <DataFormat>Text</DataFormat>
            <DataFormat>Bitmap</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <!--<Extension Category="windows.certificates">
      <Certificates>
        <Certificate StoreName="Root" Content="zwigl_cert_cert.cer" />
        <SelectionCriteria AutoSelect="true" />
      </Certificates>
    </Extension>-->
  </Extensions>
</Package>